# Manipulação e Agregação de Dados - Exercícios

Resolva os exercícios propostos abaixo. Os exercícios usam um dataset de reclamações/solicitações registradas por cidadãos. O detaset foi derivado de dados do [Portal de Dados Abertos da Prefeitura de Curitiba](https://www.curitiba.pr.gov.br/DADOSABERTOS/).

## Leitura e análise inicial dos dados

Inicie um DataFrame a partir do arquivo `2017-02-01_156_-_Base_de_Dados_sample.csv`. 

**Dica:** Caso o arquivo não seja separado por vírgulas, o Pandas não conseguirá reconhecer os campos adequadamente. Você precisará fornecer o parâmetro `sep=';'` para indicar o separador correto (neste caso, o `;`).

**Dica:** Aplicativos modernos tendem a armazenar arquivos no formato UTF-8, mas é comum encontrar arquivos codificados em outros formatos. Caso você tenha problemas para ler o arquivo, utilize o parâmetro `encoding='latin-1'` para selecionar o encoding correto (*latin-1* neste exemplo).

In [3]:
import pandas as pd
# Resposta:
df = pd.read_csv('./tarefa1.csv', sep=';', encoding='latin-1')

Visualize algumas linhas de dados:

In [4]:
# Resposta:
df.head()

,SOLICITACAO,TIPO,ORGAO,DATA,HORARIO,ASSUNTO,SUBDIVISAO,DESCRICAO,LOGRADOURO_ASS,BAIRRO_ASS,REGIONAL_ASS,MEIO_RESPOSTA,OBSERVACAO,SEXO,BAIRRO_CIDADAO,REGIONAL_CIDADAO,DATA_NASC,TIPO_CIDADAO,ORGAO_RESP,RESPOSTA_FINAL
0,6669771,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,09/11/2016,21:02:44,ABORDAGEM SOCIAL DE RUA - ADULTO,PESSOAS/FAMÍLIAS EM DESABRIGO NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - PESSOAS/FAM...,"ANDRE DE BARROS, 0",CENTRO,Unidade Regional Matriz,NENHUM,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL,M,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,Abordagem realizada. Pessoa foi orientada quan...
1,6718351,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,27/12/2016,00:40:04,ABORDAGEM SOCIAL DE RUA - ADULTO,PERDIDA/DESORIENTADA,ABORDAGEM SOCIAL DE RUA - ADULTO - PERDIDA/DES...,"NILO CAIRO, 0",CENTRO,Unidade Regional Matriz,NENHUM,"NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL, RELATA E...",M,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,"EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A P..."
2,6702371,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,07/12/2016,14:09:42,ABORDAGEM SOCIAL DE RUA - CRIANÇA,ALCOOLIZADAS/DROGADAS,ABORDAGEM SOCIAL DE RUA - CRIANÇA - ALCOOLIZAD...,"VISCONDE DE NACAR, 1210",CENTRO,Unidade Regional Matriz,NENHUM,NaN,F,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,"- EM ABORDAGEM REALIZADA, NÃO FOI ENCONTRADA A..."
3,6718692,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,27/12/2016,13:28:27,ABORDAGEM SOCIAL DE RUA - ADULTO,PESSOAS/FAMÍLIAS EM DESABRIGO NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - PESSOAS/FAM...,"MARECHAL DEODORO, 0",CENTRO,Unidade Regional Matriz,NENHUM,NaN,M,NaN,NaN,NaN,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,A pessoa da solicitação já foi abordada nesta ...
4,6704503,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,09/12/2016,01:28:16,ABORDAGEM SOCIAL DE RUA - ADULTO,DORMINDO/CAÍDAS NA RUA,ABORDAGEM SOCIAL DE RUA - ADULTO - DORMINDO/CA...,"MARECHAL DEODORO, 0",CENTRO,Unidade Regional Matriz,NENHUM,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL.,M,NaN,NaN,04/06/1997,CIDADÃO,FUNDAÇÃO DE AÇÃO SOCIAL,A pessoa da solicitação já faz parte da rede d...

Use o método `df.describe(include="all")` para exibir informações sobre as colunas.

In [5]:
# Resposta:
df.describe(include="all")

,SOLICITACAO,TIPO,ORGAO,DATA,HORARIO,ASSUNTO,SUBDIVISAO,DESCRICAO,LOGRADOURO_ASS,BAIRRO_ASS,REGIONAL_ASS,MEIO_RESPOSTA,OBSERVACAO,SEXO,BAIRRO_CIDADAO,REGIONAL_CIDADAO,DATA_NASC,TIPO_CIDADAO,ORGAO_RESP,RESPOSTA_FINAL
count,7.013000e+03,7013,7013,7013,7013,7013,7013,7013,7013,7013,7011,7013,3786,7013,6897,6757,6889,7013,7013,7010
unique,NaN,7,5,92,6438,148,388,482,5612,75,10,4,2585,2,172,10,5398,1,23,3154
top,NaN,SOLICITAÇÃO,INSTITUTO DAS CIDADES INTELIGENTES,05/12/2016,18:27:15,COLETA,MANUTENÇÃO DE LUMINÁRIAS,ILUMINAÇÃO PÚBLICA - MANUTENÇÃO DE LUMINÁRIAS,"PRESIDENTE AFFONSO CAMARGO, 330",CENTRO,Unidade Regional Matriz,EMAIL,NÃO SOUBE INFORMAR NUMERAÇÃO PREDIAL.,F,CIDADE INDUSTRIAL,Unidade Regional Boa Vista,22/06/1962,CIDADÃO,SECRETARIA MUNICIPAL DO MEIO AMBIENTE,"O contrato de Coleta de Vegetais, caliças e en..."
freq,NaN,5812,6649,163,4,1633,969,969,39,436,1572,3750,88,3613,483,1130,73,7013,2121,1334
mean,6.702377e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2.668504e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,6.659367e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,6.680119e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,6.700369e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,6.722191e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,6.763349e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Crie um novo DataFrame chamado `df_elogios` contendo apenas as linhas cujos valores na coluna `TIPO` são iguais a 'ELOGIO'. Este DataFrame deve ter as colunas TIPO, ASSUNTO, e BAIRRO_CIDADAO.

In [6]:
# Resposta:
df_elogios = df[df.TIPO == "ELOGIO"]
df_elogios.head()

,SOLICITACAO,TIPO,ORGAO,DATA,HORARIO,ASSUNTO,SUBDIVISAO,DESCRICAO,LOGRADOURO_ASS,BAIRRO_ASS,REGIONAL_ASS,MEIO_RESPOSTA,OBSERVACAO,SEXO,BAIRRO_CIDADAO,REGIONAL_CIDADAO,DATA_NASC,TIPO_CIDADAO,ORGAO_RESP,RESPOSTA_FINAL
124,6660527,ELOGIO,INSTITUTO DAS CIDADES INTELIGENTES,01/11/2016,22:02:50,COLETA,RECLAMAÇÃO (DOMICILIAR),COLETA - RECLAMAÇÃO (DOMICILIAR),"VISCONDE DE GUARAPUAVA, 5045",BATEL,Unidade Regional Matriz,EMAIL,NaN,M,BATEL,Unidade Regional Matriz,26/03/1973,CIDADÃO,SECRETARIA MUNICIPAL DO MEIO AMBIENTE,Informamos que o presente foi encaminhado aos ...
457,6692174,ELOGIO,INSTITUTO DAS CIDADES INTELIGENTES,29/11/2016,11:57:07,"MOTORISTAS, COBRADORES E PORTEIROS",ELOGIO PELO BOM DESEMPENHO DA FUNÇÃO,"MOTORISTAS, COBRADORES E PORTEIROS - ELOGIO PE...","PARANÁ, 0",SANTA CANDIDA,Unidade Regional Boa Vista,TELEFONE,NaN,F,SANTA CANDIDA,Unidade Regional Boa Vista,10/04/1996,CIDADÃO,URBANIZAÇÃO DE CURITIBA,Informamos que encaminhamos o elogio à empresa...
573,6666083,ELOGIO,SECRETARIA MUNICIPAL DA SAÚDE,07/11/2016,15:30:00,OUVIDORIA SMS,ATENDIMENTO 0800,OUVIDORIA SMS - ATENDIMENTO 0800,"AUGUSTO SEVERO, 295",ALTO DA GLORIA,Unidade Regional Matriz,TELEFONE,NÃO SOUBE INFORMAR O NOME DO ATENDENTE.,F,ALTO DA GLORIA,Unidade Regional Matriz,11/04/1948,CIDADÃO,SECRETARIA MUNICIPAL DA SAÚDE,Recebemos sua comunicação em que expressa elog...
981,6683367,ELOGIO,INSTITUTO DAS CIDADES INTELIGENTES,22/11/2016,10:06:35,SINALIZAÇÃO VERTICAL,PLACA DE ÁREA MONITORADA,SINALIZAÇÃO VERTICAL - PLACA DE ÁREA MONITORADA,"PARANÁ, 3654",BACACHERI,Unidade Regional Boa Vista,EMAIL,AV. PARANÁ 3654,F,BACACHERI,Unidade Regional Boa Vista,07/06/1962,CIDADÃO,SECRETARIA MUNICIPAL DE TRÂNSITO,"Informamos a inviabilidade do atendimento, ten..."
1023,6727772,ELOGIO,INSTITUTO DAS CIDADES INTELIGENTES,06/01/2017,17:19:08,POSTO DE SAÚDE,RECURSOS HUMANOS - ATENDIMENTO PROFISSIONAL,POSTO DE SAÚDE - RECURSOS HUMANOS - ATENDIMENT...,"RIO PELOTAS, 0",BAIRRO ALTO,Unidade Regional Boa Vista,TELEFONE,NaN,F,BAIRRO ALTO,Unidade Regional Boa Vista,08/06/1959,CIDADÃO,SECRETARIA MUNICIPAL DA SAÚDE,EM RESPOSTA AO ELOGIO DE PROTOCOLO N° 6727771 ...

Quais são os 5 bairros com mais elogios? Agrupe pelo `BAIRRO_CIDADAO` e ordene o resultado para responder.

In [9]:
# Resposta:
df_elogios.groupby("BAIRRO_CIDADAO").size().sort_values(ascending=False).head()

BAIRRO_CIDADAO
SITIO CERCADO        12
CIDADE INDUSTRIAL    12
CAJURU               11
BOQUEIRAO             6
BAIRRO ALTO           5
dtype: int64

Crie dois novos DataFrames, um contendo os registros de pessoas do sexo masculino e outra do sexo feminino. Use estes DataFrames para responder:

Qual é a proporção de reclamações entre homens e mulheres? (total de reclamações de homens dividido pelo total de reclamações de mulheres)

In [93]:
# Resposta:
f = df.SEXO == 'F'
m = df.SEXO == 'M'

df_fem = df[f]
df_mas = df[m]

df_fem_recl = df_fem[df_fem.TIPO == 'RECLAMAÇÃO']
df_mas_recl = df_mas[df_mas.TIPO == 'RECLAMAÇÃO']

proporcao = len(df_mas_recl) / len(df_fem_recl) * 100

print(f"A cada 100 reclamações de mulheres, temos {proporcao:.2f} reclamações de homens")

A cada 100 reclamações de mulheres, temos 50.81 reclamações de homens

Concatene os dois DataFrames criados acima para criar um DataFrame chamado `df_todos`. Verifique se este DataFrame tem o mesmo número de linhas do DataFrame lido do CSV.

In [95]:
# Resposta:
df_todos = df_fem + df_mas
len(df_todos) == len(df)

True

Crie um novo DataFrame chamado `df_sexo` contendo a contagem de registros para cada sexo. A coluna com a contagem deve se chamar `contagem`.

In [88]:
# Resposta:
df_sexo = df.groupby("SEXO").size().to_frame("contagem").sort_values("contagem", ascending=False)
df_sexo

      contagem
SEXO
F         3613
M         3400

Crie um novo DataFrame chamado `df_sexo_tipo` contendo a contagem de registros para cada sexo e tipo. A coluna com a contagem deve se chamar `total`.

In [188]:
# Resposta:
df_sexo_tipo = df.groupby(["SEXO", "TIPO"]).size().to_frame("total").sort_values(["SEXO", "total"], ascending=False)
df_sexo_tipo

                  total
SEXO TIPO
M    SOLICITAÇÃO   2961
     RECLAMAÇÃO     282
     RECADASTRO      91
     ELOGIO          34
     DENÚNCIA        13
     INFORMAÇÃO      11
     SUGESTÃO         8
F    SOLICITAÇÃO   2851
     RECLAMAÇÃO     555
     RECADASTRO      79
     ELOGIO          65
     DENÚNCIA        31
     INFORMAÇÃO      25
     SUGESTÃO         7

Faça uma junção (join ou merge) dos DataFrames `df_sexo, df_sexo_tipo` para criar um novo DataFrame chamado `df_juncao` contendo as contagens por sexo e também por sexo/tipo.

In [189]:
# Resposta:
df_juncao = df_sexo.join(df_sexo_tipo)
df_juncao

                  contagem  total
SEXO TIPO
M    SOLICITAÇÃO      3400   2961
     RECLAMAÇÃO       3400    282
     RECADASTRO       3400     91
     ELOGIO           3400     34
     DENÚNCIA         3400     13
     INFORMAÇÃO       3400     11
     SUGESTÃO         3400      8
F    SOLICITAÇÃO      3613   2851
     RECLAMAÇÃO       3613    555
     RECADASTRO       3613     79
     ELOGIO           3613     65
     DENÚNCIA         3613     31
     INFORMAÇÃO       3613     25
     SUGESTÃO         3613      7

Crie uma nova coluna no DataFrame `df_juncao` chamada `proporcao` contendo a porcentagem de homens e mulheres que fizeram cada tipo de registro. Responda: qual sexo faz mais elogios? Qual faz mais solicitações? Qual faz mais reclamações?

In [190]:
# Resposta:

df_tipo = df.groupby("TIPO").size().to_frame("contagem_tipo").sort_values("contagem_tipo", ascending=False)
df_juncao = df_juncao.join(df_tipo)

df_juncao["proporcao"] = df_juncao["total"] / df_juncao["contagem"]
df_juncao["proporcao_tipo"] = df_juncao["total"] / df_juncao["contagem_tipo"]
df_juncao

                  contagem  total  contagem_tipo  proporcao  proporcao_tipo
SEXO TIPO
M    SOLICITAÇÃO      3400   2961           5812   0.870882        0.509463
     RECLAMAÇÃO       3400    282            837   0.082941        0.336918
     RECADASTRO       3400     91            170   0.026765        0.535294
     ELOGIO           3400     34             99   0.010000        0.343434
     DENÚNCIA         3400     13             44   0.003824        0.295455
     INFORMAÇÃO       3400     11             36   0.003235        0.305556
     SUGESTÃO         3400      8             15   0.002353        0.533333
F    SOLICITAÇÃO      3613   2851           5812   0.789095        0.490537
     RECLAMAÇÃO       3613    555            837   0.153612        0.663082
     RECADASTRO       3613     79            170   0.021865        0.464706
     ELOGIO           3613     65             99   0.017991        0.656566
     DENÚNCIA         3613     31             44   0.008580        0.704545
     INFORMAÇÃO       3613     25             36   0.006919        0.694444
     SUGESTÃO         3613      7             15   0.001937        0.466667